body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }

h1, p {
    color: purple;
    background-color: wheat;
}
a[href="https://example.com"] {
    background-color: darkgoldenrod;
}
p::first-line{
    background-color: greenyellow;
}

article > p {
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    
}