body{
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h1{
    color: red;
    
}
p,li {
    color: lawngreen;
}
ul {
    list-style-type: none;
    }
.special{
    color:orange;
    font-weight: bold;
}
li em {
    color: rebeccapurple;
   
}
li em:hover{
    text-decoration: underline;
}

a:link {
    color: pink;
}
a:visited {
    color: rgb(92, 169, 250)
}
a:hover {
    text-decoration: none;
}
body h1 + p.special {
    color: yellow;
    background-color: rgb(56, 60, 55);
    padding: 5px;
    border-radius: 0.3rem;
  }