body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }

  article p:first-child::first-line{
    font-weight: bolder;
    color: limegreen;
  }
 