body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 640px;
    margin: auto;
}
main{
    background-color: rgb(38, 38, 38);
    padding: 0.5rem;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    
}
strong{
    color: rgb(49, 249, 4);
}
p{
    font-size: 1.1rem;
    
}
img{
    border-radius: 0.3rem;
    margin-left: 5.5rem;
}
a{
    text-decoration: none;
    color: brown;
}
hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}